{% extends 'base.html.twig' %}

{% block title %}{{ parent ()}} - éditer candidature{% endblock %}

{% block body %}
<header>
    <div class="header-text">
        <h1>Éditez votre candidature</h1>
        <h3> au poste de {{ candidature.Poste }} chez {{ candidature.Entreprise }}</h3>
    </div>
</header>
    <div class="block-body">
        <div class="container edit-container">
            <div class="col-9 justify-content-center m-auto">
                
                {{ include('candidature/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                {{ include('candidature/_delete_form.html.twig') }}
            </div>

            {# <button type="button" class="btn btn-secondary">
                <a href="{{ path('candidature_index') }}">Retour à la liste</a>
            </button> #}
        </div>
    </div>
{% endblock %}
