{% extends 'base.html.twig' %}

{% block title %} {{ parent ()}} Candidature{% endblock %}

{% block body %}
<div class="container mt-5 main-container">

    <a href="{{ path('candidature_new') }}" class="btn btn-primary">Nouvelle candidature</a>

    <h1 class="text-center my-5">Liste de mes Candidatures</h1>
    
    {% for candidature in candidatures %}

        <div class="card text-center">
            <div class="card-header">
                Statut : {{ candidature.Statut }} <br> <hr>
                Candidature le : {{ candidature.DateEnvoi ? candidature.DateEnvoi|date('d/m/Y') : '' }}
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    {{ candidature.Contrat }} - {{ candidature.Poste }} - {{ candidature.Entreprise }} ({{ candidature.Localisation }})
                </h5>
                <p class="card-text">
                    Plateforme d'envoi : {{ candidature.Plateforme }}
                </p>
                <h5>Actions :</h5>
                <p class="card-text">
                    <a href="{{ path('candidature_show', {'id': candidature.id}) }}" class="btn btn-info">voir</a>
                    <a href="{{ path('candidature_edit', {'id': candidature.id}) }}" class="btn btn-warning">éditer</a>
                </p>
            </div>
            <div class="card-footer text-muted">
                Mise à jour le : {{ candidature.MiseAJour ? candidature.MiseAJour|date('d/m/Y') : '' }}
            </div>
        </div>
        
    {% else %}
        <tr>
            <td colspan="11">Aucune candidature trouvée</td>
        </tr>
    {% endfor %}
{#  <table class="table table-striped">
        <thead>
            <tr>
                <th>Poste</th>
                <th>Entreprise</th>
                <th>Contrat</th>
                <th>Localisation</th>
                <th>Date d'envoi</th>
                <th>Lien</th>
                <th>Plateforme</th>
                <th>Statut</th>
                <th>Mise à jour le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidature in candidatures %}
            <tr>
                <td>{{ candidature.Poste }}</td>
                <td>{{ candidature.Entreprise }}</td>
                <td>{{ candidature.Contrat }}</td>
                <td>{{ candidature.Localisation }}</td>
                <td>{{ candidature.DateEnvoi ? candidature.DateEnvoi|date('d/m/Y') : '' }}</td>
                <td>{{ candidature.Lien }}</td>
                <td>{{ candidature.Plateforme }}</td>
                <td>{{ candidature.Statut }}</td>
                <td>{{ candidature.MiseAJour ? candidature.MiseAJour|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('candidature_show', {'id': candidature.id}) }}" class="btn btn-info">voir</a>
                </td>
                <td>
                    <a href="{{ path('candidature_edit', {'id': candidature.id}) }}" class="btn btn-warning">éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucune candidature trouvée</td>
            </tr>
        {% endfor %} 
        </tbody>
    </table>
#}

    <a href="{{ path('candidature_new') }}" class="btn btn-primary">Nouvelle candidature</a>
</div>
{% endblock %}
